@{
    ViewData["Title"] = "Admin page";
}
<div class="well-sm">In Admin View Now</div>

@* admin sees list of standing invitation made by admin and other trackers *@
@* add a form to get an email, valiadte that its and email and not one of an existing user (message about it if its taken), send invitation email in server side and add a record in the DB about that*@
@* use respository and View / Create table to see all *@


