<div>
    <form method="post" asp-controller="Invitation" asp-action="Create">
        <div class="form-group">
            <label>Enter new user's email to be tracked</label>
            <input type="email" name="email" />
        </div>
        <div class="form-group">
            <button type="submit" value="Login" class="btn btn-default">Invite!</button>
        </div>
    </form>

</div>